/* Generals */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Lato:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  overflow-y: hidden;
}

h1,
h2,
p,
button {
  color: var(--primary-color);
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Crimson Pro", serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

/* Product */
.product {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product #sofa {
  height: 50vh;
  border-radius: 30px;
}

.product #state-button {
transform: translate(40px,60px);
height: 40px;
background-color: #271a45bb;
transition: 300ms;
border-radius: 50%;
}

.product #state-button:hover {
  background-color: #271a45;
}

.product #state-button:hover, .info button:hover {
  cursor: pointer;
}

/* Details */
.info {
  transform: translateY(-50px);
  padding-right: 24px;
}

.info h1 {
  font-size: 3.5em;
  margin: 10px 0;
}

.info h2 {
  font-weight: 400;
}

.info button {
  font-size: 1.4em;

  border: 1px solid var(--primary-color);
  background-color: transparent;
  border-radius: 30px;
  padding: 8px 20px;
  margin-top: 30px;
}

.info button:hover {
  border-color: var(--bg-color);
  background-color: var(--primary-color);
  color: var(--bg-color);
  transition: 500ms;
}

