// Generals
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

html {
  height: 100%;
}

body {
  $main-color-h:258;
  $main-color-s:73%;
  $main-color-l:62%;

  $secondary-color-h:258;
  $secondary-color-s:13%;
  $secondary-color-l:25%;

  $font-color: #eae4fa;
  $secondary-font-color: #b4b0c0;
  $bg-main:#0B0911;
  $bg-secondary:#130F1E;

  height: 100%;

  background-color: $bg-main;
  color: $font-color;
  font-size: 1.1em;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;

  p {
    color: $secondary-font-color;
  }

  // Buttons basis
  button {
    color: $font-color;

    padding: 16px 24px;
    border-radius: 32px;
  }

  button img{
    margin-right: 8px;
  }

  button.primary {
    background-color: hsl($main-color-h, $main-color-s, $main-color-l); 
  }

  button.secondary {
    background-color: hsl($secondary-color-h, $secondary-color-s, $secondary-color-l);
  }

  button.tertiary {
    background-color: transparent;
  }

  // Main content
  main {
    padding: 5vh 0 0 32px;

    section {
      margin-bottom: 8vh;
    }

    article {
      border: 8px solid $bg-secondary;
      border-radius: 8px;
    }

    table {
      
      border-collapse: collapse;

      th {
        background-color: $bg-secondary;
        font-weight: 400;
        font-size: 12px;
      }

      th, td {
        
        padding: 20px;
        text-align: center;
      }
    }
  }

// Lateral menu
  aside {
    background-color: $bg-secondary;
    padding: 3% 40px 0;
    width: 400px;

    div:first-child {
      margin-bottom: 20%;
    }

    button {
      width: 100%;
      margin-bottom: 32px;
    }

    button.primary:hover {
      background-color: hsl($main-color-h, calc($main-color-s + 5%), calc($main-color-l + 8%));
      transition: 300ms;
    }

    button.secondary:disabled {
      cursor: not-allowed;
      color: $secondary-font-color;
      background-color: hsl($secondary-color-h, $secondary-color-s, calc($secondary-color-l - 10%));
    }
  }

// classes
button.primary.hovered {
  background-color: hsl($main-color-h, calc($main-color-s + 5%), calc($main-color-l + 8%));
}

button.secondary.hovered {
  background-color: hsl($secondary-color-h, $secondary-color-s, calc($secondary-color-l + 15%));
}

button.focused, button:focus-visible {
  outline: 2px solid $font-color;
}

button.disabled {
  cursor: not-allowed;
  color: $secondary-font-color;
}

button.disabled.primary {  
  background-color: hsl($main-color-h, calc($main-color-s - 25%), calc($main-color-l - 22%));

}

button.disabled.secondary {
  background-color: hsl($secondary-color-h, $secondary-color-s, calc($secondary-color-l - 10%));
}

button.loading {
  cursor: wait;
  display: flex;
  align-items: center;
}

.rotating {
  animation: rotate 1s infinite;
}

button.movable {
  cursor: move;
}
}

h1, button {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 1.6em;
  padding-bottom: 8px;
}

#first-interactive-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interactive-button::before {
  content: url('../assets/load.svg');
  animation: rotate 1s infinite;
  height: 16px;
  margin-right: 8px;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}

  100% {transform: rotate(360deg);}
}